@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap");
@import "_nullstyle";
@import './modules/_animation';
/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

input {
  margin: 0px;
}
li {
  list-style-type: none;
}
ul {
  padding-left: 0;
  margin: 0px;
}
a {
  text-decoration: none;
  color: white;
  &:hover {
    color: #00a4e5;
  }
}
input {
  border: 0px;
  margin: 0px;
  outline: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #373737;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
}

._button {
  padding: 20px 60px;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  border-radius: 10px;
  background: #193f50;
  transform: scale(1);
  transition: all 0.2s ease-in;
  //55bdea
  //6488d4
  //193f50
  &:hover {
    color: #55bdea;
  }
  &:active {
    transform: scale(0.98);
  }
}

._title {
  font-family: "Gothic A1", sans-serif;
  text-align: center;
  font-weight: 600;
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 130%;
  color: #373737;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  margin-bottom: 40px;
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
  }
}

.menu {
  &__body {
    display: flex;
    align-items: center;
    gap: 0px 40px;
  }

  &__logo {
    width: 130px;
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0px 30px;
  }
  &__link {
    font-size: 20px;
    line-height: 150%;
  }
  &__contact {
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }
}

.menu__contacts {
  display: flex;
  gap: 0px 10px;
  flex-direction: column;
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/

.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 1050px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }

  .menu__icon._active {
    span {
      transform: scale(0) translate(0px, -50%);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 140px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background: #000000;
  }

  .menu__body {
    text-align: center;
    flex-direction: column;
    gap: 50px 0px;
  }
  .menu__list {
    flex-direction: column;
    gap: 20px 0px;
    font-size: 35px;
  }

  .menu__contacts {
    font-size: 35px;
  }
  .menu__item {
    margin: 0 auto;
    text-align: center;
  }

  .menu__link {
    font-size: 30px;
  }
}

/*-------------------------------------------------------------*/
/*-----Page----------------------------------------------------*/
/*-------------------------------------------------------------*/

.page {
  flex: 1 1 auto;
}

/*-------------------------------------------------------------*/
/*-----Home----------------------------------------------------*/
/*-------------------------------------------------------------*/

.home {
  background: url(../assets/img/main-background.jpg) no-repeat;
  background-size: cover;
  padding: 70px 0px 80px 0px;

  &__body {
    color: #ffffff;
    padding: 150px 0px 30px 0px;
  }
  &__title {
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    margin: 0px 0px 30px 0px;
    @media (max-width: 368px) {
      font-size: 48px;
    }
  }
  &__discount {
    max-width: 500px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 60px;
    display: flex;
  }
}

.discount {
  &__text {
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    line-height: 150%;
  }
  &__image {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
}
/*-------------------------------------------------------------*/
/*-----About us------------------------------------------------*/
/*-------------------------------------------------------------*/

.page__about-us {
  padding: 70px 0px 70px 0px;
}

.about-us__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.about-us__text {
  padding: 10px;
  flex: 0 1 40%;
  max-width: 345px;
  @media (max-width: 768px) {
    flex: 0 1 100%;
  }
}

.about-us__title {
  text-align: left;
  margin-bottom: 20px;
}

.about-us__paragraphs {
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}
.about-us__wrapper {
  flex: 0 1 55%;
  padding: 0px 5px;
  @media (max-width: 769px) {
    flex: 1 1 100%;
  }
}

.about-us__image {
  width: 100%;
}

/*-------------------------------------------------------------*/
/*-----Benefits------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__benefits {
  margin-bottom: 70px;
}
.benefits {
  background-color: #4c6071;

  .benefits__container {
    padding: 60px 0px;
  }
  &__title {
    color: #ffffff;
  }
  &__body {
    display: flex;
    padding: 0px 10px;
    gap: 50px 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__column {
    background-color: white;
    border-radius: 20px;
    flex: 0 1 25%;
    max-width: 255px;
  }
  &__item {
    padding: 50px 25px;
    min-width: 240px;
  }
}

.item-benefit {
  &__icon {
    text-align: center;
    margin-bottom: 50px;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 16px;
    line-height: 150%;
    color: #373737;
  }
}

/*-------------------------------------------------------------*/
/*-----Portfolio-----------------------------------------------*/
/*-------------------------------------------------------------*/

.page__portfolio {
  margin-bottom: 70px;
}

.portfolio {
  &__list {
    display: flex;
    margin-bottom: 60px;
    gap: 40px 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    flex: 1 1 45%;
    line-height: 150%;
    color: #373737;
    min-width: 300px;
    @media (max-width: 799px) {
      flex: 1 1 100%;
    }
  }
}

.item-portfolio__image {
  margin-bottom: 20px;
  width: 100%;
}

.item-portfolio__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}
.item-portfolio__text {
  font-size: 18px;
}

.portfolio__button {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
  padding: 20px 30px;
}

/*-------------------------------------------------------------*/
/*-----calculation---------------------------------------------*/
/*-------------------------------------------------------------*/
.page__calculation {
  background-color: #4c6071;
  padding: 60px 0px;
  margin-bottom: 70px;
}

.calculation {
  &__title {
    font-size: 28px;
    line-height: 130%;
    color: #000000;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  &__body {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
}

/// Block Question
.calculation {
  &__block-question {
    font-size: 24px;
    line-height: 130%;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 50px;
    margin-bottom: 20px;
  }

  &__question {
  }
  &__question-number {
  }
}

/// Block content
.calculation {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 30px 40px;
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 20px;
    background-color: #4c6071;
  }

  &__wrapper {
    flex: 1 1 32%;
  }

  &__item {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    padding: 20px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}


.calculation__choice {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  @media (max-width: 992px) {
    flex: 1 1 100%;
  }
}

.calculation__image {
  width: 100%;
  margin-bottom: 20px;
}

.calculation__buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px 20px;
  @media (max-width: 426px) {
    flex-wrap: wrap;
  }
}
.calculation__button {
  flex: 1 1 40%;
  border: 2px solid black;
  padding: 20px 100px;
  @media (max-width: 676px) {
    padding: 15px 20px;
  }
  @media (max-width: 426px) {
    flex: 1 1 100%;
  }
}

/*-------------------------------------------------------------*/
/*-----Ð¡atalog Textures----------------------------------------*/
/*-------------------------------------------------------------*/

.page__catalog {
  margin-bottom: 70px;
}

.catalog {
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px 30px;
    margin-bottom: 70px;
  }
  &__column {
    flex: 0 1 25%;
    max-width: 255px;
  }
}

.catalog__item {
}
.item-catalog {
  &__image {
    margin-bottom: 20px;
  }
  &__text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #373737;
  }
}

.catalog__button {
  display: block;
  margin: 0 auto;
}

/*-------------------------------------------------------------*/
/*-----Video Reviews-------------------------------------------*/
/*-------------------------------------------------------------*/

.page__video-reviews {
  background-color: #4c6071;
  padding: 50px 0px 60px 0px;
  margin-bottom: 70px;
}
.video-reviews {
}
.video-reviews__container {
}
.video-reviews__title {
  color: white;
}
.video-reviews__body {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
  justify-content: center;
}
.video-reviews__column {
  max-width: 260px;
}
.video-reviews__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.item-video-review {
}
.item-video-review__video {
  margin-bottom: 20px;
}
.item-video-review__video video {
  width: 270px;
  border-radius: 10px;
}
.item-video-review__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 10px;
}
.item-video-review__text {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

/*-------------------------------------------------------------*/
/*-----Request-------------------------------------------------*/
/*-------------------------------------------------------------*/
.page__request {
  margin-bottom: 70px;
}
.request__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 40px;
}

.request__form {
  flex: 1 1 40%;
  @media (max-width: 767px) {
    flex: 1 1 100%;
  }
}
.request__input {
  width: 100%;
  padding: 5px 0px;
  display: block;
  border-bottom: 2px solid gray;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 40px;
}
.request__wrapper {
  flex: 1 1 50%;
  @media (max-width: 767px) {
    flex: 1 1 100%;
  }
}
.request__image {
  width: 100%;
}
/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer {
  background-color: #4c6071;
}

.footer__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0px 20px 0px;
  gap: 30px 130px;
}

.contact {
  &__title {
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 15px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
  }
  &__item {
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }
}

.social {
  &__title {
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 15px;
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 0px 20px;
    @media (max-width: 617px) {
      justify-content: center;
    }
  }
  &__item {
    transition: 0.3s;
    &:hover {
      transform: scale(1.3);
    }
  }
}

.map {
  position: relative;
  &__image {
    border-radius: 20px;
  }
  &__title {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
  }
}
